input_module = "inputs/input_znc.so";

input = ( "input/" );

analyzers = ( "analyzers/linecount.so", "analyzers/smileycount.so", "analyzers/wordcount.so", "analyzers/caps.so" );

smileycount = { smilies = ( ":U" ); };

caps = { min_characters = 5; };

output = "-";

no_threads = true;

template = "example.tpl";
